# 'Milestone 1 - Chicago, U.S. bikesharing'

`source`: 
https://data.cityofchicago.org/Transportation/Divvy-Trips/fg6s-gzvg/about_data 

`mobility domain`:
https://data.cityofchicago.org/

# 'What variable are we trying to predict?'

`trip duration`

# 'Data preparation'

Since the dataset given has a total of roughly **21 million rows**, we are reducing the size of the date before downloading it. In order to do that, we have used the query function to filter the rows. 
For the data the following queries where used:

`TRIP_ID` is greater than or equal to 22,000,000 AND

`TRIP_ID` is less than or equal to 22,200,000

todo list:
- null values -> how to handle it
-> 
- which features are important, which ones to drop and why?
- in which python environment are we working?
- which new columns to add? (potentially new data)
- choose appropriate model to visualize the cleaned dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import geopandas as gpd
import seaborn as sns

bike_set = pd.read_csv("Divvy_Trips_20250516.csv", sep=",")
bike_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169540 entries, 0 to 169539
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TRIP ID            169540 non-null  int64
 1   START TIME         169540 non-null  object
 2   STOP TIME          169540 non-null  object
 3   BIKE ID            169540 non-null  int64
 4   TRIP DURATION      169540 non-null  int64
 5   FROM STATION ID    169540 non-null  int64
 6   FROM STATION NAME  169540 non-null  object
 7   TO STATION ID      169540 non-null  int64
 8   TO STATION NAME    169540 non-null  object
 9   USER TYPE          169540 non-null  object
 10  GENDER             156307 non-null  object
 11  BIRTH YEAR         157020 non-null  float64
 12  FROM LATITUDE      169536 non-null  float64
 13  FROM LONGITUDE     169536 non-null  float64
 14  FROM LOCATION      169536 non-null  object
 15  TO LATITUDE        169530 non-null  float64
 16  TO LONGITUDE       169530 non-null  float64
 17  TO LOCATION        169530 non-null  object
dtypes: float64(5), int64(5), object(8)
memory usage: 23.3+ MB


We can observe that there are six rows with missing `TO LATITUDE`, `TO LONGITUDE`, `TO LOCATION`, `FROM LATITUDE`, `FROM LONGITUDE` and `FROM LOCATION`. These six rows can be deleted without a significant impact on the general dataset.
A larger portion of missing values can be seen for the columns `GENDER` and `BIRTH YEAR`. Here a larger amount of rows, roughly 12,000 to 13,000 rows are missing. One solution that has been suggested is to analyze the ratio of male to female bike riders and distribute the rows with missing genders accordingly. But due to the size of missing values we have decided as a group to delete them instead in order to keep the integrity of the data set as well as the correlation to other features. Despite the deletion of those rows, the data is still contains sufficient observations with over 100,000 rows.

In [3]:
# to do -> delete null rows
# MÃ¤rz bis April
bike_set = bike_set.dropna()

# test if the data is clean
bike_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156296 entries, 0 to 169539
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TRIP ID            156296 non-null  int64
 1   START TIME         156296 non-null  object
 2   STOP TIME          156296 non-null  object
 3   BIKE ID            156296 non-null  int64
 4   TRIP DURATION      156296 non-null  int64
 5   FROM STATION ID    156296 non-null  int64
 6   FROM STATION NAME  156296 non-null  object
 7   TO STATION ID      156296 non-null  int64
 8   TO STATION NAME    156296 non-null  object
 9   USER TYPE          156296 non-null  object
 10  GENDER             156296 non-null  object
 11  BIRTH YEAR         156296 non-null  float64
 12  FROM LATITUDE      156296 non-null  float64
 13  FROM LONGITUDE     156296 non-null  float64
 14  FROM LOCATION      156296 non-null  object
 15  TO LATITUDE        156296 non-null  float64
 16  TO LONGITUDE       156296 non-null  float64
 17  TO LOCATION        156296 non-null  object
dtypes: float64(5), int64(5), object(8)
memory usage: 22.7+ MB

In [ ]:
# drop irrelevant columns/features#
# backup